*.log
.DS_Store
*.local
*/reports/*
backups/
old_jobs/
logs/
tasks/.bundle/*
tasks/vendor/*
database.yml
*.tgz
.idea
tmp/
kibana-auth/node_modules/

# DevOps
*.backup
*.terrahelpbkp
.terraform
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
*.retry
